<nav>
   <div class="nav-wrapper">
     <a href="#" class="brand-logo right">Mongo Scraper</a>
     <ul id="nav-mobile" class="left hide-on-med-and-down">
       <li><a href="#">Home</a></li>
       <li><a href="#">Saved Articles</a></li>
       <li><a class="waves-effect waves-light btn">Scrape New Articles!</a></li>
       <li><a class="waves-effect waves-light btn">Clear Articles!</a></li>
     </ul>
   </div>
 </nav>

 <div class="card large">
   <div class ="card-image">
    </div>
   {{!-- <div class="caption">
     <span class="card-title">Mongo Scraper</span>
     <h1>Buck Rail Jackson Hole Edition</h1>
   </div> --}}
 </div> 

 <div id="articles"></div>

 <div id="notes"></div>
 </div>