.large {
  display: flex;
  justify-content: center;
  align-items: center;

  background: url("/images/background.jpg");
  background-size: cover;

}

#addBtn {
  position: absolute;
  top: 20px;
  right: 20px;
}